<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chatbot</title>

  <!-- CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">

  <!-- Estilos personalizados -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">

</head>

<body>
  <div class="containerV1">
    <div class="center-container">
      <button class="botonmostrar" id="mostrarBoton" style="display: block;">Mostrar Chatbot</button>
    </div>
  </div>

  <div class="chatbot-container" id="chatbotContainer" style="display: none;">

    <!-- contenido HTML deL chatbot  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">

          <div class="chat-container">
            <div class="chat-header">
              <h1 class="chat-title">Chatbot</h1>
              <h2 class="chat-subtitle">Laboratorio Consultar SRL</h2>
            </div>
            <div class="chat-body" id="chat-body">
              <!-- mensajes del bot -->
            </div>

            <div class="box-chat" id="formulario" style="display: none;">

              <form class="form" id="form" action="/" method="post">
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" autofocus="autofocus" name="nombre" required>
                </div>
                <div class="mb-3">
                  <label for="fechaHora" class="form-label">Fecha:</label>
                  <input type="datetime-local" class="form-control" list="listafechas" id="fechaHora"  name="fechaHora"
                    min="" max="" required>
                </div>
                <div class="mb-3">
                  <label for="correo" class="form-label">Correo:</label>
                  <input type="email" class="form-control" id="correo" name="correo" required>
                </div>
                <div class="mb-3">
                  <label for="telefono" class="form-label">Teléfono:</label>
                  <input type="teL" class="form-control" id="telefono" name="telefono" required>
                </div>

                <button class="boton">Enviar</button>

              </form>



              <datalist id="listafechas">

                <option value="">

              </datalist>


            </div>

            <input style="display: block;" type="text" class="form-control chat-input" id="user-input" name="userInput"
              placeholder="Escribe un mensaje..." autofocus>

          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- </div> -->






  <!-- JavaScript de Bootstrap y jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>

  <!-- Scripts personalizados -->
  <script src="{{ url_for('static', filename='styles/main.js') }}"></script>
  <script src="{{ url_for('static', filename='styles/bot.js') }}"></script>

  <script>
    const mostrarBoton = document.getElementById("mostrarBoton");
    const chatbotContainer = document.getElementById("chatbotContainer");

    mostrarBoton.addEventListener("click", function () {
      chatbotContainer.style.display = "block";
      mostrarBoton.style.display = 'none';
    });


    var datalist = document.getElementById("listafechas");

    // Función para obtener la fecha actual y generar las opciones de fecha y hora
    function actualizarLista() {
      // Obtén la fecha actual
      var fechaActual = new Date();

      // Crea un array de opciones de fecha y hora
      var opcionesFechaHora = [];

      // Genera las opciones de fecha y hora para una semana sin incluir los sábados y domingos
      for (var i = 0; i < 7; i++) {
        // Agrega el número de días a la fecha actual
        fechaActual.setDate(fechaActual.getDate() + 1);

        // Verifica si el día de la semana es sábado o domingo
        if (fechaActual.getDay() !== 0 && fechaActual.getDay() !== 6) {
          // Genera las opciones de hora entre las 14:00 y las 15:00
          for (var j = 0; j < 60; j++) {
            var hora = 11 + j;
            if (hora < 13) {
              // Crea una nueva fecha con la fecha y hora actualizadas
              var fecha = new Date(fechaActual.getFullYear(), fechaActual.getMonth(), fechaActual.getDate(), hora, 0);

              // Formatea la fecha en el formato deseado (YYYY-MM-DD HH:MM)
              var fechaFormateada = fecha.toISOString().slice(0, 16).replace("T", " ");

              // Agrega la opción al array
              opcionesFechaHora.push('<option value="' + fechaFormateada + '">');
            }
          }
        }
      }

      // Actualiza el contenido del datalist con las nuevas opciones
      datalist.innerHTML = opcionesFechaHora.join("");
    }

    // Llama a la función para actualizar la lista inicialmente
    actualizarLista();

    // Programa la actualización de la lista cada vez que pasa un día
    setInterval(actualizarLista, 24 * 60 * 60 * 1000);






    // LIMITAR LOS VALORES DE FECHA Y HORA A UNA SEMANA

    // var fechaHoraInput = document.getElementById('fechaHora');

    // function actualizarLimites() {
    //   var hoy = new Date();
    //   hoy.setDate(hoy.getDate() + 1); // Establecer el día siguiente al día actual
    //   var minDate = hoy.toISOString().slice(0, 16);
    //   var maxDate = new Date(hoy.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().slice(0, 16);

    //   fechaHoraInput.setAttribute('min', minDate);
    //   fechaHoraInput.setAttribute('max', maxDate);
    // }

    // actualizarLimites();

    // // Actualizar los límites cada vez que pasa un día (cada 24 horas)
    // setInterval(actualizarLimites, 24 * 60 * 60 * 1000);

  </script>

</body>

</html>