<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reuniones</title>
    <!-- <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    /> -->
  </head>
  <body>

    {% include 'partials/_navbar.html' %}

    <div class="container p-2">
      <!-- FORM -->

  
      <!-- contacts list -->
      <div class="w-75 m-auto">
        {% for reunion in reuniones %}
          <div class="card mb-5 bg-light shadow-lg ">
            
            <div class="card-body py-2 px-3">
              <div class="">
                <h5 class="card-title h3 text-center">{{ reunion.fechaHora}}</h5>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                  <h4 class="text-center">Cliente</h4>
                  <p class="card-text border-bottom border-dark">{{ reunion.cliente.nombre }}</p>
                  <p class="card-text border-bottom border-dark">{{ reunion.cliente.email }}</p>
                  <p class="card-text border-bottom border-dark">{{ reunion.cliente.telefono }}</p>
                </div>
                <div>
                  <h4 class="text-center">Anfitrion</h4>
                  <p class="card-text border-bottom border-dark">{{ reunion.anfitrion.nombre }}</p>
                  <p class="card-text border-bottom border-dark">{{ reunion.anfitrion.correo }}</p>
                </div>
              </div>
            </div>
            
            <div class="d-flex justify-content-center p-3 gap-3">

              <a href="reuniones/{{ reunion.id }}" class="btn btn-primary">Actualizar</a>
              <button onclick="sendDelete({{reunion.id}})" class="btn btn-danger">Eliminar</button>

                
            </div>
          </div>
        {% endfor %}
      </div>
      </div>


  
    </div>

    <div class="container">
      {% block body %} {% endblock %}
    </div>

    <!-- scripts -->
    <script src="../static/styles/reuniones.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>