
{% extends "layout.html" %} {% block body %}

<div class="col-md-4 offset-md-4 bg-light shadow-lg">
  <div class="card card-body ">
    <h1>Editar reunión</h1>
    <form id="form">
      <div class="mb-3">
        <label for="fechaHora" class="mb-1">Nueva fecha:</label>
        <input
          type="datetime-local"
          name="fechaHora"
          value="{{reunion.fechaHora}}"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="anfitrion" class="mb-1">Anfitrión:</label>
        <select role="button" name="anfitrion" id="anfitrion" class="form-select">
          <option value="{{ reunion.anfitrion.nombre }}" default>{{ reunion.anfitrion.nombre }}</option>
          {% for anfitrion in anfitriones%}
            {%if anfitrion.nombre != reunion.anfitrion.nombre%}
              <option value="{{ anfitrion.nombre }}">{{ anfitrion.nombre }}</option>
            {%endif%}
          {% endfor %}
        </select>
      </div>

      <button class="btn btn-primary m-auto" onclick="sendUpdate({{ reunion.id }})">Update</button>
    </form>
  </div>
</div>

{% endblock %}